<h3>Logs</h3>

@foreach (var item in messages)
{
    <p>@item</p>
}

@code {
    private List<string> messages = new List<string>();

    public async Task Log(object obj)
    {
        if (messages.Count == 20)
            messages.RemoveAt(messages.Count - 1);
        messages.Insert(0, $"{DateTime.Now.ToString("hh:mm:ss")}: {obj}");
        StateHasChanged();
        await Task.Delay(2);
    }
}
