@inject IJSRuntime JS

<Button Type="@ButtonType.Primary" OnClick="() => { showReportOptions = true; }">@ButtonText</Button>


<Drawer Closable="true"
        Visible="showReportOptions"
        Placement="right"
        Title='("Reports options")'
        OnClose="_=> { showReportOptions = false; }"
        Width="750">
    <CreateReportForUsersView 
                              ChallengeId="ChallengeId" 
                              FileName="@FileName"
                              UserStudentIds="UserStudentIds" />
</Drawer>
@code {
    [Parameter]
    public Guid ChallengeId { get; set; }

    [Parameter]
    public List<string> UserStudentIds { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public string FileName { get; set; }

    private bool showReportOptions = false;

}
