version: "3.8"

services:
    api:
        image: rtuitlab/olympiad-api:${OLYMPIAD_SERVICE_TAG-latest}
        restart: on-failure
        environment:
            - RabbitMqQueueSettings__Host=rabbitmq
    admin:
        image: rtuitlab/olympiad-admin:${OLYMPIAD_SERVICE_TAG-latest}
        restart: on-failure
        environment:
            - RabbitMqQueueSettings__Host=rabbitmq
    results-viewer:
        image: rtuitlab/olympiad-results-viewer:${OLYMPIAD_SERVICE_TAG-latest}
        restart: on-failure
    executor:
        image: rtuitlab/olympiad-executor:${OLYMPIAD_SERVICE_TAG-latest}
        restart: on-failure
        environment:
            - StartSettings__DockerEndPoint=unix:///var/run/docker.sock
            - RabbitMqQueueSettings__Host=rabbitmq
            - StartSettings__Address=http://api:5501
            - CONSOLE_MODE=Logs
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    pdf-printer:
        image: zephyrhq/wkhtmltopdf-saas
        environment:
            - APP_ENV=dev
    rabbitmq:
        image: rabbitmq:3-management
