@inherits LayoutComponentBase

<Layout Style="min-height: 100vh;">
    <Header Class="header">
        <Row Justify="space-between">
            <AntDesign.Col Span="12" Style="align-self: center">
                <Title Level="3" style="color: white; margin: 0">Панель управления</Title>
            </AntDesign.Col>
            <AntDesign.Col Span="12" Style="text-align: right">
                <AuthorizeView>
                    <Authorized>
                        <Text style="color: white;">@context.User.Identity?.Name <Icon Type="unordered-list" Theme="outline" OnClick="@(() => {logs?.Show();})"></Icon></Text>
                    </Authorized>
                </AuthorizeView>
            </AntDesign.Col>
        </Row>
    </Header>
    <Layout>
        <Sider Width="250"
               Class="site-layout-background"
               Breakpoint="@BreakpointType.Lg"
               CollapsedWidth="0">
            <NavMenu />
        </Sider>
        <Layout Style=" padding: 0 24px 24px;">
            <Content Class="site-layout-background" Style=" padding: 24px; margin: 24px 0 0 0; min-height: 280px;">
                <CascadingValue Value="@(logs as ILogsService)">
                    @Body
                </CascadingValue>
            </Content>
        </Layout>
    </Layout>
</Layout>
<LogsComponent @ref="logs" />
<style>
    .site-layout-background {
        background: #fff;
    }
</style>


@code {
    LogsComponent? logs;
}