@page "/dangerzone"

@inherits OwningComponentBase<ApplicationDbContext>


@using Microsoft.EntityFrameworkCore;

<h3>DangerZone</h3>


<button class="btn btn-danger" @onclick="DeleteAllSolutions">Delete all solutions with build logs</button>

<Logs @ref="logs"></Logs>

@code {
    private Logs logs;
    private async Task DeleteAllSolutions()
    {
        await logs.Log($"preparing to delete");
        var solutionIds = await Service.Solutions.Select(s => s.Id).ToListAsync();
        await logs.Log($"find {solutionIds.Count} solutions");
        var solutionEntitys = solutionIds.Select(id => new Models.Solutions.Solution
        {
            Id = id
        }).ToList();
        Service.Solutions.RemoveRange(solutionEntitys);
        var edited = await Service.SaveChangesAsync();
        await logs.Log($"deleted {edited} rows");
    }
}
