@page "/users/{UserId:guid}"

@inherits OwningComponentBase<Microsoft.AspNetCore.Identity.UserManager<User>>

@inject Olympiad.Admin.Services.UserPasswordGenerator userPasswordGenerator

@inject NavigationManager navigationManager

@using BlazorStrap
<h3>EditUser</h3>
<NavLink href="users">Back to users</NavLink>

@if (user == null)
{
    <p>Loading</p>
}
else
{
    <BlazorStrap.BSRow>
        <BlazorStrap.BSCol>
            <h4>Student id</h4>
            <p>@user.StudentID</p>
            <h4>Claims</h4>
            @if (Claims == null || !Claims.Any())
            {
                <p>No claims</p>
            }
            else
            {

                <BlazorStrap.BSTable IsBordered="true">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var claim in Claims)
                        {
                            <tr>
                                <td>@claim.Type</td>
                                <td>@claim.Value</td>
                            </tr>
                        }
                    </tbody>
                </BlazorStrap.BSTable>
            }
            <h4>Password</h4>
            @if (!string.IsNullOrEmpty(generatedPassword))
            {
                <p>@generatedPassword</p>
            }
            <button class="btn btn-warning" @onclick="RengeneratePassword">Regenerate password</button>
        </BlazorStrap.BSCol>
        <BlazorStrap.BSCol>
            <button class="btn btn-danger" @onclick="DeleteUser">Delete</button>
        </BlazorStrap.BSCol>
    </BlazorStrap.BSRow>
}

@code {

    [Parameter]
    public Guid UserId { get; set; }
    User user;
    IList<System.Security.Claims.Claim> Claims;
    private string generatedPassword;
    protected override async Task OnParametersSetAsync()
    {
        await base.OnInitializedAsync();
        user = null;
        user = await Service.FindByIdAsync(UserId.ToString());
        Claims = await Service.GetClaimsAsync(user);
    }
    private async Task DeleteUser()
    {
        await Service.DeleteAsync(user);
        navigationManager.NavigateTo("users");
    }
    private async Task RengeneratePassword()
    {
        await Service.RemovePasswordAsync(user);
        var password = userPasswordGenerator.GeneratePassword();
        await Service.AddPasswordAsync(user, password);
        generatedPassword = password;
    }
}
