@page "/"

@using Microsoft.EntityFrameworkCore
@using Olympiad.Shared.Models
@using System.Text.RegularExpressions

@using OpenQA.Selenium.Chrome
@using OpenQA.Selenium
@using NPOI.SS.UserModel;
@using NPOI.XSSF.UserModel;
@using CsvHelper;

@inject ApplicationDbContext db

<h2>Solutions count</h2>

<button class="btn-primary" @onclick="@Update">Update</button>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in solutionCountRecords)
        {
            <tr>
                <td>@i.Status</td>
                <td>@i.Count</td>
            </tr>
        }
    </tbody>
</table>


@code {

    List<SolutionCountRecord> solutionCountRecords = new List<SolutionCountRecord>();


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Update();
    }

    private async Task Update()
    {
        solutionCountRecords = await db.Solutions.GroupBy(s => s.Status).Select(g => new SolutionCountRecord { Status = g.Key.ToString(), Count = g.Count() }).ToListAsync();
    }

    class SolutionCountRecord
    {
        public string Status { get; set; }
        public int Count { get; set; }
    }
}