@page "/"
@inherits OwningComponentBase<ApplicationDbContext>
@using Microsoft.EntityFrameworkCore
@using Olympiad.Shared.Models
@using System.Text.RegularExpressions

@using OpenQA.Selenium.Chrome
@using OpenQA.Selenium
@using NPOI.SS.UserModel;
@using NPOI.XSSF.UserModel;
@using CsvHelper;


<h2>Admin panel</h2>


@code {
}
