@using Ganss.XSS
@using Markdig
@using Olympiad.Shared.Services
@inject IReportsApi ReportsApi
@inject IJSRuntime JS
@inject MessageService MessageService

<Button Icon="@IconType.Outline.FilePdf"
        Class="big-icon"
        OnClick="() => isVisible = true"
        Loading="IsLoading">
    @ButtonText
</Button>

<Drawer Closable="true"
        Visible="isVisible"
        Placement="right"
        OnClose="Close"
        Title='("Создание отчёта")'
        Width="750">
        <SolutionsReportOptions @bind-ReportOptions="options" Disabled="IsLoading" />
    <Button OnClick="Do">Gen</Button>
</Drawer>

@code {
    [Parameter]
    public string? ButtonText { get; set; }
    [Parameter]
    public Guid ChallengeId { get; set; }
    [Parameter]
    public List<string>? UserStudentIds { get; set; }
    [Parameter]
    public string? StudentId { get; set; }

    private bool IsLoading => reportsJSModule is null || isGenerating;

    private UserSolutionsReportOptions options = UserSolutionsReportOptions.Default;

    private bool isVisible;
    private bool isGenerating;

    static SolutionsReportsGenerator()
    {
        htmlSanitizer = new HtmlSanitizer();
        htmlSanitizer.AllowedAttributes.Add("class");
        htmlSanitizer.AllowedSchemes.Add("data");
    }


    private static readonly HtmlSanitizer htmlSanitizer;
    private static readonly MarkdownPipeline markdownPipeline
        = new MarkdownPipelineBuilder().UsePipeTables().UsePreciseSourceLocation().UseAdvancedExtensions().Build();
    private IJSObjectReference? reportsJSModule;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            reportsJSModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/reportsCreating.js");
            StateHasChanged();
        }
    }

    private async Task Do()
    {
        if (string.IsNullOrEmpty(StudentId) || reportsJSModule is null || isGenerating)
        {
            await MessageService.Warning("Невозможно начать генерацию");
            return;
        }
        isGenerating = true;
        try
        {
            var response = await ReportsApi.GetReportForChallenge(ChallengeId, StudentId, options);
            var html = Markdown.ToHtml(response, markdownPipeline);
            html = htmlSanitizer.Sanitize(html);
            await reportsJSModule.InvokeVoidAsync("createSingleReport", html, $"{StudentId}.pdf");
        }
        finally
        {
            isGenerating = false;
        }
    }

    private async Task Close()
    {
        if (IsLoading)
        {
            await MessageService.Warning("Идет создание отчёта");
            return;
        }
        isVisible = false;
    }
}
