<Menu Mode="MenuMode.Inline"
      DefaultSelectedKeys=@(new[] {"1"})
      DefaultOpenKeys=@(new[] {"sub1"})
      Style="height: 100%; border-right: 0;">
    <MenuItem Key="0" RouterLink="" RouterMatch="NavLinkMatch.All">Main</MenuItem>
    <MenuItem Key="123" RouterLink="counter" RouterMatch="NavLinkMatch.Prefix">Counter</MenuItem>
    @{
        RenderFragment sub1Title =
        @<span>
            <Icon Type="user" Theme="outline" />
            subnav 1
        </span>;
    }
    <SubMenu Key="sub1" Title=sub1Title>
        <MenuItem Key="1">option1</MenuItem>
        <MenuItem Key="2">option2</MenuItem>
        <MenuItem Key="3">option3</MenuItem>
        <MenuItem Key="4">option4</MenuItem>
    </SubMenu>
    @{
        RenderFragment sub2Title =
        @<span>
            <Icon Type="laptop" Theme="outline" />
            subnav 2
        </span>;
    }
    <SubMenu Key="sub2" Title=sub2Title>
        <MenuItem Key="5">option5</MenuItem>
        <MenuItem Key="6">option6</MenuItem>
        <MenuItem Key="7">option7</MenuItem>
        <MenuItem Key="8">option8</MenuItem>
    </SubMenu>
</Menu>

@code {

}
