@inject ISolutionsApi SolutionsApi
@inject IJSRuntime JS

<Button Icon="@IconType.Outline.Code" OnClick="ShowCode">Показать</Button>

@{
    RenderFragment drawerTitle =
    @<Template>
        Код решения <Button Icon="@IconType.Outline.Download" Loading="loading" OnClick="DownloadSource"></Button>
    </Template>;
}

<Drawer Width="800"
        Closable="true"
        Visible="showSourceCode"
        Placement="right"
        Title="drawerTitle"
        BodyStyle="padding: 0;"
        OnClose="() => showSourceCode = false">

    @if (loading)
    {
        <Skeleton Active></Skeleton>
    }
    else
    {
        <pre style="margin: 0; height: 100%;">
            <code class=@($"language-{PrismLanguage}")>
                @sourceCode
            </code>
        </pre>
    }
</Drawer>

@code {
    [Parameter]
    public Guid SolutionId { get; set; }
    [Parameter]
    public string? PrismLanguage { get; set; }
    private Guid loadedSolutionId;
    [Parameter]
    public string? SolutionFileName { get; set; }

    private bool loading = true;
    private bool showSourceCode = false;

    private string? sourceCode;
    private bool isCodeRendered = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (isCodeRendered)
        {
            await JS.InvokeVoidAsync("highlightAllCode");
            isCodeRendered = false;
        }
    }

    private async Task ShowCode()
    {
        showSourceCode = true;
        if (loadedSolutionId != SolutionId)
        {
            await LoadSource();
        }
    }

    private async Task LoadSource()
    {
        loading = true;
        try
        {
            var localSolutionId = SolutionId;
            sourceCode = await SolutionsApi.GetSolutionSource(localSolutionId);
            isCodeRendered = true;
            loadedSolutionId = localSolutionId;
        }
        finally
        {
            loading = false;
        }
    }

    private async Task DownloadSource()
    {
        if (!string.IsNullOrEmpty(SolutionFileName) && !string.IsNullOrEmpty(sourceCode))
        {
            await JS.DownloadFile(SolutionFileName, sourceCode);
        }
    }
}
