@page "/users/{UserId:guid}"

@using Olympiad.Shared
@using PublicAPI.Responses.Users

@attribute [Authorize(Roles = RoleNames.ADMIN)]
@inject MessageService _message
@inject NavigationManager NavigationManager
@inject IControlPanelApiService ControlPanelApiService
@inject IJSRuntime JS

<PageHeader Title="@(userInfo?.FirstName ?? "Загрузка")">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem Href="users">
                Пользователи
            </BreadcrumbItem>
            <BreadcrumbItem>
                @(userInfo?.FirstName ?? "Загрузка")
            </BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
    <PageHeaderExtra>
        <LoginAsUserButton UserId="UserId" />
        <GenerateNewPasswordButton UserId="UserId" />
        <Button Type="@ButtonType.Dashed" Danger OnClick=ShowDeleteModal>Удалить аккаунт</Button>
    </PageHeaderExtra>
</PageHeader>
<DeleteUserConfirmationModal @ref=deleteModal />

@if (userInfo != null)
{
    <Row>
        <AntDesign.Col Span="8">
            <EditUserBaseInfo @bind-User=userInfo />
        </AntDesign.Col>
    </Row>
}


@code {
    [Parameter]
    public Guid UserId { get; set; }

    private DeleteUserConfirmationModal deleteModal;

    private UserInfoResponse? userInfo;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var response = await ControlPanelApiService.GetUser(UserId);
        if (response.IsSuccessStatusCode)
        {
            userInfo = response.Content;
        }
        else
        {
            NavigationManager.NavigateTo("users");
        }
    }

    private void ShowDeleteModal()
    {
        deleteModal.Show(userInfo!);
    }
}
